<!-- backtest.html -->
{% extends 'base.html' %}

{% block title %}Backtest Page{% endblock %}

{% block head %}
    <style>
        .button {
            padding: 10px;
            margin: 5px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <h2>Backtest Services</h2>
    <p>Welcome to our investment services page. Choose an option below to continue:</p>

    <form method="post" action="{% url 'backtest' %}">
        {% csrf_token %}
        <label for="backtest_type">Backtest Type:</label>
        <select id="backtest_type" name="backtest_type" onchange="this.form.submit()">
            <option value="" disabled selected>Please choose options</option>
            <option value="avg" {% if show_avg_form %}selected{% endif %}>Average</option>
        </select>
        <br><br>
    
    {% if show_avg_form %}
    <div id="avg_backtest_form">
        <label for="ticker">Ticker:</label>
        {{ form.ticker }}
        <br><br>
        <label for="days">Days:</label>
        {{ form.days }}
        <br><br>
        <label for="amount">Amount:</label>
        {{ form.amount }}
        <br><br>
    </div>
    {% endif %}
    <input type="submit" value="Submit" class="button">
</form>
{% endblock %}